.cart-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 10px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

ion-tab-button {
  position: relative;
}
