<div class="address-list-container">
  <ion-card *ngFor="let add of localAddresses; trackBy: trackByAddressId">
    <ion-card-content>
      <app-address-view [address]="add"></app-address-view>

      <div class="default-selection">
        <ion-button
          class="set-default-button"
          [class.is-default]="add.is_default_billing"
          (click)="isDefaultBilling(add.is_default_billing, add.id || '')"
          expand="block"
          fill="outline"
          [disabled]="!add.id">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          {{ add.is_default_billing ? 'Default Billing' : 'Set as Billing' }}
        </ion-button>

        <ion-button
          class="set-default-button"
          [class.is-default]="add.is_default_shipping"
          (click)="isDefaultShipping(add.is_default_shipping, add.id || '')"
          expand="block"
          fill="outline"
          [disabled]="!add.id">
          <ion-icon name="airplane-outline" slot="start"></ion-icon>
          {{ add.is_default_shipping ? 'Default Shipping' : 'Set as Shipping' }}
        </ion-button>
      </div>

      <div class="action-buttons">
        <ion-button class="edit-button" (click)="editAddress(add)" fill="clear">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Edit
        </ion-button>
        <ion-button class="delete-button" (click)="deleteAddress(add.id || '')" [disabled]="!add.id" fill="clear">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Remove
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>

  <div *ngIf="localAddresses.length === 0" class="empty-state">
    <p>You have no saved addresses.</p>
    <ion-button (click)="addNewAddress()" expand="block">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Add a New Address
    </ion-button>
  </div>
</div>