<form [formGroup]="cusAddressForm" ngxsForm="form.cusAddressForm" *ngIf="viewState$ | async as vs">


  <ion-list>
    <ion-item>
      <ion-input formControlName="first_name" required maxlength="30" type="text" fill="outline"
        [label]="'ADDRESS.FIRST_NAME' | translate" labelPlacement="floating" [clearInput]="true"></ion-input>
      <p class="ion-error" *ngIf="cusAddressForm.get('first_name')?.hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </p>
      <p class="ion-error" *ngIf="cusAddressForm.get('first_name')?.hasError('pattern')">
        {{ 'ERRORS.PATTERN' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-input formControlName="last_name" required maxlength="30" type="text" fill="solid"
        [label]="'ADDRESS.LAST_NAME' | translate" labelPlacement="floating" [clearInput]="true"></ion-input>
      <p class="ion-error" *ngIf="cusAddressForm.get('last_name')?.hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </p>
      <p class="ion-error" *ngIf="cusAddressForm.get('last_name')?.hasError('pattern')">
        {{ 'ERRORS.PATTERN' | translate }}
      </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-input formControlName="address_1" required maxlength="30" type="text" fill="outline"
        [label]="'ADDRESS.ADDRESS_LINE_1' | translate" labelPlacement="floating" [clearInput]="true">
      </ion-input>
      <p class="ion-error" *ngIf="cusAddressForm.get('address_1')?.hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </p>
    </ion-item>
    <ion-item>
      <ion-input formControlName="address_2" required maxlength="30" type="text" fill="outline"
        [label]="'ADDRESS.ADDRESS_LINE_2' | translate" labelPlacement="floating" [clearInput]="true"></ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-select justify="space-between" formControlName="country_code" (ionChange)="onIonRadioChange($event)"
        [value]="vs.defaultRegions.country" label="Country select" label-placement="floating">
        <ion-select-option [value]="country.country" *ngFor="let country of vs.region_list">
          {{ country.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input formControlName="city" required type="text" fill="outline" [label]="'City' | translate"
      labelPlacement="floating" [clearInput]="true">
    </ion-input>
    <p class="ion-error"  *ngIf="cusAddressForm.get('city')?.hasError('required')">
      {{ 'ERRORS.REQUIRED' | translate }}
    </p>
  </ion-item>
  <ion-item>
    <ion-input formControlName="postal_code" required type="text" fill="outline" [label]="'Post Code' | translate"
      labelPlacement="floating" [clearInput]="true">
    </ion-input>
    <p class="ion-error"  *ngIf="cusAddressForm.get('postal_code')?.hasError('required')">
      {{ 'ERRORS.REQUIRED' | translate }}
    </p>
  </ion-item>
  <ion-item>
    <ion-input formControlName="phone" required type="text" fill="outline" [label]="'ex: ' + phoneNumberPlaceholder"
      labelPlacement="floating" [clearInput]="true">
    </ion-input>
    <p class="ion-error"  *ngIf="cusAddressForm.get('phone')?.hasError('required')">
      {{ 'ERRORS.REQUIRED' | translate }}
    </p>
  </ion-item>
</form>