<div class="address-view-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngIf="customer?.shipping_addresses && customer.shipping_addresses.length > 0">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Default Shipping</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-address-view [address]="customer.shipping_addresses[0]"></app-address-view>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" *ngIf="billingAddress">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Default Billing</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-address-view [address]="billingAddress"></app-address-view>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="(!customer?.shipping_addresses || customer.shipping_addresses.length === 0) && !billingAddress" class="no-default-address">
    <p>No default addresses have been set.</p>
  </div>
</div>